<section class="Form mt-4 mb-5 mx-5 ">
    <div class="container mx-auto">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img src="../../assets/aboutus-back1.jpg" class="img-fluid" alt="About Us Image" />
            </div>
            <div class="col-sm-7 px-5 pt-5 ">
                <div>
                    <h1 class="font-weight-bold mb-5">About Us</h1>
                
                <hr/>
                <br/>
                <p>
                    We are here to help you book your food in just a few seconds  
                 You can choose from a wide range of cuisines and various food craving food items
                </p>  
             </div>
            </div>
        </div>
    </div>
</section>


<div class="text-center container mx-auto mt-3" style="width:300px;">
    <h2>Developers</h2>
</div>


<div style="width: 70%;margin: auto;">
<section class="Form mt-4 col-sm-10  mb-5 mx-5 ">
    <div class="container mx-auto">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQH9xXL50aKvBA/profile-displayphoto-shrink_200_200/0/1597586506013?e=1625702400&v=beta&t=MD7BDoSCLRaiCSwUh1DWfiw5GKx7afI9aSFQ1sqQQfk" alt="Card image cap">
          <div class="card-body justify-text-center">
            <h5 class="card-title">Sumukh Bhoopalam</h5>
            <p class="card-text">Passionate Developer</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">B.M.S , Bengaluru </small>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQHeWfEKgQjDPA/profile-displayphoto-shrink_800_800/0/1517235147760?e=1625702400&v=beta&t=pU6Sh5iSFH2MvgVkPwc5PbSDDB--4w4xHZQtjnpLdys" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sushmanth Natha</h5>
            <p class="card-text">Passionate Developer</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">MIT , Manipal</small>
          </div>
        </div>
       
      </div>
    </div>
</section>
</div>

