<section class="Form my-5 mx-5 ">
    <div class="container ">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="../../assets/login.jpg" class="img-fluid" alt="Login Image" />
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold">Food Ordering Application</h1>
                <h4>Login to your account</h4>
                <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value)">
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="email" class="form-control my-3 p-2" placeholder="User Email" name="useremail" ngModel/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="password" class="form-control my-3 p-2" placeholder="******" name="password" ngModel/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="submit" class="form-control btn1 mt-3 mb-5" value="login"/>
                        </div>
                    </div>
                    <a href="#">Forgot Password</a>
                    <p>Don't have an account? <a href="#">Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
</section>