<section *ngIf="user!=''" class="Form my-2">
    <div class="container">
        <div class="card p-3 text-center">
            <div class="d-flex flex-row justify-content-center mb-3">
                <div> <img src={{user.imageurl}} class="rounded-circle img-fluid"> <span><i class='bx bxs-camera-plus'></i></span> </div>
                <div class="d-flex flex-column ms-3 user-details">
                    <h4 class="mt-5">{{user.name}}</h4>
                </div>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
                <div class="form-row">
                    <div class="col-lg-5">
                        <div class="inputs"> <label>Name</label> <input formControlName="name" class="form-control" type="text" required> </div>
                    </div>
                    <div class="col-lg-1 mt-2">
                        <span style="font-size: 25px;" *ngIf="updateForm.controls.name.errors?.required">*</span>
                    </div>
                    <div class="col-lg-5">
                        <div class="inputs"> <label>Email</label> <input formControlName="email" class="form-control" type="email" required> </div>
                        <div style="font-size: 10px;" *ngIf="updateForm.controls.email.errors?.pattern" class="alert alert-danger mt-3">Enter Valid Email</div>
                    </div>
                    <div class="col-lg-1 mt-2">
                        <span style="font-size: 25px;" *ngIf="updateForm.controls.email.errors?.required">*</span>
                    </div>
                    <div class="col-lg-5">
                        <div class="inputs"> <label>Profile Image URL</label> <input formControlName="imageurl" class="form-control" type="url" > </div>
                        <div style="font-size: 10px;" *ngIf="updateForm.controls.imageurl.errors?.pattern" class="alert alert-danger mt-3">Enter Valid Image URL</div>
                    </div>
                    <div class="col-lg-1 mt-2">
                    </div>
                    <div class="col-lg-5">
                        <div class="inputs"> <label>Phone</label> <input class="form-control" formControlName="phone" type="text" required> </div>
                        <div style="font-size: 10px;" *ngIf="updateForm.controls.phone.errors?.pattern" class="alert alert-danger mt-3">Enter Valid Number</div>
                    </div>
                    <div class="col-lg-1 mt-2">
                        <span style="font-size: 25px;" *ngIf="updateForm.controls.phone.errors?.required">*</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12">
                        <div class="about-inputs"> <label>Address</label> <textarea formControlName="address" class="form-control" type="text"> </textarea> </div>
                    </div>
                </div>
                <div class="mt-3 gap-2 d-flex justify-content-end"> <input type="button" (click)="onCancel()" value="Cancel" class="px-3 btn "/> <input type="submit" class="px-3 btn" value="Update"/> </div>  
        </form>
    </div>
    </div>
</section>