<section class="Form my-2 ">
    <div class="container ">
        <div class="main row no-gutters">
            <div class="col-lg-5">
                <img src="../../assets/login.jpg" class="img-fluid" alt="Login Image" />
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold mb-2">Food Ordering Application</h1>
                <h4>Sign Up</h4>
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
                    <div class="row">
                        <div class="col-lg-5">
                            <input type="text" class="form-control my-3 p-2" placeholder="User Name" formControlName="name" required/>
                        </div>
                        <div class="col-lg-1 mt-2">
                            <span style="font-size: 25px;" *ngIf="signupForm.controls.name.errors?.required">*</span>
                        </div>
                        <div class="col-lg-5">
                            <input type="email" class="form-control mt-3 p-2" placeholder="User Email" formControlName="email" required/>
                            <div style="font-size: 10px;" *ngIf="signupForm.controls.email.errors?.pattern" class="alert alert-danger mt-3">Enter Valid Email</div>
                        </div>
                        <div class="col-lg-1 mt-2">
                            <span style="font-size: 25px;" *ngIf="signupForm.controls.email.errors?.required">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <input type="password" [(ngModel)]="pass" class="form-control my-3 p-2" placeholder="Password" formControlName="pass" required/>
                        </div>
                        <div class="col-lg-1 mt-2">
                            <span style="font-size: 25px;" *ngIf="signupForm.controls.pass.errors?.required">*</span>
                        </div>
                        <div class="col-lg-5">
                            <input type="password" [(ngModel)]="cpass" class="form-control my-3 p-2" placeholder="Confirm password" formControlName="conpass" required/>
                            <div style="font-size: 10px;" *ngIf="cpass!=pass && (signupForm.controls.conpass.dirty || signupForm.controls.conpass.touched)" class="alert alert-danger mt-3">Password doesn't match</div>
                        </div>
                        <div class="col-lg-1 mt-2">
                            <span style="font-size: 25px;" *ngIf="signupForm.controls.conpass.errors?.required">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <input type="text" class="form-control my-3 p-2" placeholder="Number" formControlName="phone"  required/>
                            <div style="font-size: 10px;" *ngIf="signupForm.controls.phone.errors?.pattern" class="alert alert-danger mt-3">Enter Valid Number</div>
                        </div>
                        <div class="col-lg-1 mt-2">
                            <span style="font-size: 25px;" *ngIf="signupForm.controls.phone.errors?.required">*</span>
                        </div>
                        <div class="col-lg-5">
                            <textarea rows="1" class="form-control my-3 p-2" placeholder="Address" formControlName="address" ></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="url" [(ngModel)]="localUrl" class="form-control my-3 p-2" placeholder="Image URL" formControlName="imageurl" >
                                    <div style="font-size: 10px;" *ngIf="signupForm.controls.imageurl.errors?.pattern" class="alert alert-danger mt-3">Enter Valid Image URL</div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="submit" class="form-control btn1 mt-2 mb-1" value="Sign Up" [disabled]="signupForm.invalid"/>
                                    </div>
                                </div>
                        </div>   
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <img style="height: 150px;width: 150px;" [src]="localUrl" *ngIf="localUrl!=''" class="rounded-circle img-fluid">
                        </div>
                    </div>
                    <p><a routerLink="/login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</section>