
section{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}


.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: black;
  }
  
  .custom-control-input:checked~.custom-control-label.rr::before {
    background-color: red;
  }
  
  .custom-control-input:checked~.custom-control-label.gg::before {
    background-color: green;
  }


  input[readonly],textarea[readonly] {
    background-color: rgb(223, 219, 219);
}


.btn1{
    border:none;
    outline: none;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}

label{
    color:white;
}

.image {
    position: relative
}

#topbutton{
    right:10px;
    bottom: 60px;
    position: fixed;
    width:40px;
    height:40px;
    
}



.image span {
    color: #fff;
    padding: 6px;
    height: 30px;
    width: 30px;
    font-size: 13px;
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    top: -0px;
    right: 0px
}


.user-details span {
    text-align: left
}



.inputs label {
    display: flex;
    margin-left: 3px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px
}

.about-inputs label {
    display: flex;
    margin-left: 3px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px
}

.about-inputs textarea {
    font-size: 14px;
    height: 100px;
    border: 2px solid #ced4da;
    resize: none
}

.btn{
    border:none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}