.mainheadd{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF, 3px 3px black;
    font-size: 80px;
}
.view{
    height: 170px;
}
.bodytext {
    height: 200px;
}
p {
    color: black;
    font-weight: 300; 
}
  
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
a:hover {
    color: black;
    text-decoration: none !important; 
}

.mainheadd{
    
    font-family: 'Cinzel Decorative', cursive;
    /*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF, 3px 3px white;*/
    text-shadow:  3px 3px green;
}

.sss{
    font-family: 'Poppins', sans-serif; 
    
}

.content {
    background-color: rgba(0, 0, 0, 0.37); 
}

h2 {
    font-size: 20px; 
}

.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: relative; 
}

.site-blocks-cover.overlay {
    position: relative; 
}
.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2); 
}
.site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(100vh); 
}
.site-blocks-cover h1 {
    font-size: 6rem;
    font-weight: 500;
    line-height: 1; 
}
.site-blocks-cover .sub-text {
    font-size: 1.4rem;
    color: black;
    font-weight: 300; 
}
.site-blocks-cover .img-wrap {
    position: absolute;
    z-index: -1;
    width: calc(100% - 50%);
    top: 0;
    height: 100%;
    z-index: 2;
    right: 50%;
    min-height: 600px;
    overflow: hidden;
    border-bottom-right-radius: 200px; 
}
.site-blocks-cover .img-wrap .slide {
    height: 100vh;
    position: relative; 
}
.site-blocks-cover .img-wrap .slide img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; 
}
.site-blocks-cover .intro {
    z-index: 3;
    position: relative; 
}
.site-blocks-cover .intro .heading { 
    margin-left: -200px; 
}
.site-blocks-cover .intro .text {
    padding-left: 50px; 
}

.site-menu-toggle .menu-text {
    position: relative;
    top: -6px;
    text-transform: uppercase; 
}

.btn-pill {
    border-radius: 30px;
    padding: 15px 30px;
    border-color: #fff;
    color: black;
 }